*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 13px !important;
    font-weight: normal !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: 1.38 !important;
    letter-spacing: normal !important;
    text-align: left !important;
    color: $baseColor !important;
    margin: 0 !important;
    padding: 0 !important;
}
.container {
    @media only screen and (min-width: 768px) {
        max-width: 1128px;
        padding: 0;
    }
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.custom-button-style {
    border-radius: 2px !important;
    box-shadow: none !important;
}
