$baseColor: #424242;
$primaryColor: #d82929;
$baseColorLight: #d2d2d2;
$dividerColor: #d2d2d2;
$white: #fff;
$black: #000;
$darkBorder: #767171;
$darkGray: #3b3b3b;
$borderColor1: #ebebeb;
$footerColor: #f8f8f8;
$footerContent1: #424242;