.product-card-container {
    border: solid 1px #d2d2d2;
    margin-left: 16px;
    margin-top: 16px;
    display: inline-block;

    .product-image-container {
        background-color: #d9d9d9;
        display: flex;

        img {
            max-width: 100%;
            max-height: 100%;
            height: auto;
            width: auto;
        }

        .product-rank-number-container {
            position: absolute;
            width: 32px;
            height: 32px;
            border: solid 2px #ffffff;
            background-color: #424242;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            margin-top: 8px;
            margin-left: 8px;
        }
    }

    .product-details-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
        padding: 12px;

        .first-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .card-label {
                // width: 44px;
                // height: 21px;
                border-radius: 2px;

                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.42;
                letter-spacing: normal;
                text-align: left;
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 5px;
                padding-bottom: 3px;
            }

            .product-id-container {
                // float: right;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.38;
                letter-spacing: normal;
                text-align: left;
                color: #767171;
            }

            .red-label {
                border: solid 1px #ff0000;
                color: #ff0000;
            }

            .gold-label {
                border: solid 1px #d4af37;
                color: #d4af37;
            }

            .silver-label {
                border: solid 1px #a9a9a9;
                color: #a9a9a9;
            }

            .bronze-label {
                border: solid 1px #cd7f32;
                color: #cd7f32;
            }
        }

        .second-row {
            .product-name-container {
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.38;
                letter-spacing: normal;
                text-align: left;
                color: #424242;
            }
        }

        .third-row {
            .product-cost-container {
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.38;
                letter-spacing: normal;
                color: #424242;
                float: right;

                display: flex;
                justify-content: center;
                align-items: center;

                svg {
                    width: 18px;
                    height: 18px;
                }
            }
        }
    }
}

// Mobile
@media (min-device-width: 300px) and (max-device-width: 568px) {
    .slider-card {
        width: 174px !important;
    }

    .product-card {
        width: 44%;
        // width: 174px;
        height: 276px;

        .product-image-container {
            height: 168px;
        }

        .product-name-container,
        .product-cost-container {
            font-size: 16px;
            font-size: 13px;
        }
        .product-id-container {
            font-size: 11px;
        }

        .product-details-container {
            .first-row {
                .card-label {
                    font-size: 10px;
                }
            }
        }

        .second-row,
        .third-row {
            margin-top: 8px;
        }
    }
}

// Desktop
@media only screen and (min-device-width: 569px) {
    .product-card {
        width: 212px;
        height: 352px;
        // width: 17%;

        .product-id-container {
            font-size: 13px;
        }

        .product-image-container {
            height: 213px;
        }

        .product-details-container {
            .first-row {
                .card-label {
                    font-size: 12px;
                }
            }
        }

        .product-name-container,
        .product-cost-container {
            font-size: 16px;
            font-size: 16px;
        }

        .second-row,
        .third-row {
            margin-top: 12px;
        }
    }
}
