#dialog-stock-filter {
    & > div > div {
        // height: 255px;
    }

    #form-dialog-title {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 24px !important;
        padding-bottom: 0px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;

        .close-icon {
            position: absolute;
            top: 16px;
            right: 16px;
            cursor: pointer;

            svg {
                fill: #b5b5b5;
            }
        }

        h6 {
            font-size: 20px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.35;
            letter-spacing: normal;
            text-align: center;
            color: #424242;
        }
    }

    .dialog-content {
        overflow: visible;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 16px !important;
        padding-bottom: 0px !important;
        flex: 0 1 auto !important;

        .dialog-content-form {
            display: flex;
            flex-direction: column;
            // width: 328px;

            .content-label {
                font-size: 13px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.38;
                letter-spacing: normal;
                text-align: left;
                color: #000000;
                margin-bottom: 6px;
            }

            .next-button {
                margin-top: 36px;
            }
        }
    }

    .filter-options-container {
        display: flex;
    }

    .checkbox-container {
        margin-bottom: 10px;
        & > label {
            & > span {
                padding: 0 !important;
            }
            & > span:not(:first-child) {
                margin-left: 8px;
            }
        }
    }

    .next-button {
        margin-bottom: 48px;
    }
}

// Mobile
@media only screen and (max-width: 600px) {
    #dialog-stock-filter {
        .filter-options-container {
            flex-direction: column;
        }

        & > div > div {
            width: 100%;
        }
    }
}

// Desktop
@media only screen and (min-width: 600px) {
    #dialog-stock-filter {
        .dialog-content {
            padding-left: 0px !important;
            padding-right: 0px !important;
        }

        & > div > div {
            width: 560px;
        }

        .filter-options-container {
            flex-direction: row;
            justify-content: space-between;
        }

        .dialog-content-form {
            width: 80%;
        }
    }
}
