.category-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;

    .grow {
        flex-grow: 1;
    }

    .category-header-grid {
        border-bottom: 2px solid grey;
        padding-bottom: 10px;
    }

    .width-100 {
        width: 100%;
    }

    .width-600px {
        width: 600px;
    }

    .margin-left-12 {
        margin-left: 12px;
    }

    .popular-keywords-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 12px;
        overflow: auto;

        .label {
            font-size: 13px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.38;
            letter-spacing: normal;
            text-align: left;
            color: #424242;
        }

        .keywords {
            display: flex;
            margin-top: 8px;

            .tag {
                padding-left: 8px;
                padding-right: 8px;
                border-radius: 2px;
                border: solid 1px #424242;

                font-size: 12px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.42;
                letter-spacing: normal;
                text-align: left;
                color: #424242;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 8px;
            }
        }
    }

    .header-text {
        font-style: normal;
        font-stretch: normal;
        line-height: 1.34;
        letter-spacing: normal;
        text-align: left;
        color: #424242;

        .first-header-text {
            margin-right: 5px;
        }

        .light-header {
            font-weight: 300;
        }

        .dark-header {
            font-weight: bold;
        }
        // span:not(:first-child) {
        //     margin-left: 8px;
        // }
    }

    .view-more-link {
        cursor: pointer;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.38;
        letter-spacing: normal;
        text-align: left;
        color: #ff0000;
        position: absolute;
    }
}

// Mobile
@media only screen and (max-width: 600px) {
    .category-header-container {
        margin-top: 48px;
        .header-text {
            font-size: 20px;
        }

        .view-more-link {
            font-size: 11px;
            right: 8px;
            bottom: 20px;
        }
    }
}

// Desktop
@media only screen and (min-width: 600px) {
    .category-header-container {
        margin-top: 64px;
        .header-text {
            font-size: 32px;
        }

        .view-more-link {
            font-size: 13px;
            right: 8px;
            bottom: 8px;
        }
    }
}

// 1128 px width specific
@media only screen and (min-width: 600px) and (max-width: 1128px) {
    .category-header-container {
        padding-left: 16px;
        padding-right: 16px;
    }
}
