#dialog-set-password {
    & > div > div {
    }

    #form-dialog-title {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 24px !important;
        padding-bottom: 0px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;

        .close-icon {
            position: absolute;
            top: 16px;
            right: 16px;
            cursor: pointer;

            svg {
                fill: #b5b5b5;
            }
        }

        h6 {
            font-size: 20px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.35;
            letter-spacing: normal;
            text-align: center;
            color: #424242;
        }
    }

    .dialog-content {
        overflow: visible;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0x !important;
        padding-bottom: 0px !important;
        flex: 0 1 auto !important;
        flex-direction: column;

        .id-text {
            margin-top: 32px;
            margin-bottom: 20px;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.38;
            letter-spacing: -0.2px;
            text-align: left;
            color: #424242;
        }

        .dialog-content-form {
            display: flex;
            flex-direction: column;

            .content-label {
                font-size: 13px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.38;
                letter-spacing: normal;
                text-align: left;
                color: #000000;
                margin-bottom: 6px;
            }

            .next-button {
                margin-top: 36px;
                margin-bottom: 30px;
            }
        }
    }
}

// Mobile
@media only screen and (max-width: 600px) {
    #dialog-set-password {
    }
}

// Desktop
@media only screen and (min-width: 600px) {
    #dialog-set-password {
        .dialog-content {
            padding-left: 0px !important;
            padding-right: 0px !important;

            .dialog-content-form {
                width: 328px;
            }
        }

        & > div > div {
            width: 560px;
        }
    }
}
