#dialog-sign-in {
    & > div > div {
    }

    #form-dialog-title {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 24px !important;
        padding-bottom: 0px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;

        .close-icon {
            position: absolute;
            top: 16px;
            right: 16px;
            cursor: pointer;

            svg {
                fill: #b5b5b5;
            }
        }

        h6 {
            font-size: 20px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.35;
            letter-spacing: normal;
            text-align: center;
            color: #424242;
        }
    }

    .dialog-content {
        overflow: visible;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 16px !important;
        padding-bottom: 0px !important;
        flex: 0 1 auto !important;

        .dialog-content-form {
            display: flex;
            flex-direction: column;
            width: 328px;

            .form-field {
                .content-label {
                    font-size: 13px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.38;
                    letter-spacing: normal;
                    text-align: left;
                    color: #000000;
                    margin-bottom: 6px;
                }

                .password-incorrect-text {
                    color: #d82929;
                }
            }
        }
    }

    .bottom-row {
        display: flex;
        justify-content: center;
        padding: 16px;
        border-top: 1px solid #e0e0e0;
        margin-top: 32px;
    }

    .helper-text {
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.38;
        letter-spacing: -0.1px;
        text-align: left;
        color: #7a7a7a;

        .strong {
            font-weight: bold;
            color: #282828;
        }
    }

    .justify-center {
        display: flex;
        justify-content: center;
    }

    .margin-top-16 {
        margin-top: 16px;
    }

    .cursor-pointer {
        cursor: pointer;
    }
}

// Mobile
@media only screen and (max-width: 600px) {
    #dialog-sign-in {
    }
}

// Desktop
@media only screen and (min-width: 600px) {
    #dialog-sign-in {
        .dialog-content {
            padding-left: 0px !important;
            padding-right: 0px !important;
        }

        & > div > div {
            width: 560px;
        }
    }
}
